.div-Wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #db6a62ab;
    height: auto;
    width: 700px;
    margin-top: 30px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .div-Wraper {
        width: 88vw;
        padding: 0;
    }
}