body {
  margin: 0;
  padding: 0;
  background: rgb(241,139,139);
  background: linear-gradient(180deg, rgba(241,139,139,1) 0%, rgba(230,150,105,1) 38%, rgba(225,166,134,1) 69%, rgba(241,139,139,1) 100%);
  color: #1E1E1E;
  font-family: -apple-system, BlinkMacSystemFont,'Montserrat', 'Arial', 'Helvetica',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#root {
  margin: 6px 24px;
  position: relative;
  min-height: 100vh;
}
