
.TodoCounter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24678D;
    color: rgb(225, 225, 225);
    width: 700px;
    height: 120px;
    border-radius: 12px 12px 0 0;
    font-size: 32px;
    font-weight: 400;
}

.TodoCounter span{
    font-size: 34px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-right: 6px;
    margin-left: 6px;
}

h1{
    font-size: 28px;
    text-align: center;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.496);
    color: white;
    margin: 0;
    padding: 0;
}
