div h1{
    display: flex;
        align-items: center;
        justify-content: center;
    background-color: #24678D;
    width: 700px;
    height: 120px;
    border-radius: 12px 12px 0 0;
}
h1{
    font-size: 28px;
    text-align: center;
    box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.496);
    color: white;
    margin: 0;
    padding: 0;
}