input[type="checkbox"] {
    width: 38px;
    height: 38px;
}

.circle-button {
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    transition-duration: 0.4s;
    background-color: rgb(241, 240, 240);
    box-shadow: 0px 2px 0px rgb(95, 95, 95);
    transition: transform 0.2s ease;
}


.TodoItem{
    background-color: rgba(147, 13, 13, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0px 5px 50px rgba(37, 41, 48, 0.227);
    width: 600px;
    height: 40px;
    text-align: center;

}

.TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: white;
}

.TodoItem-p--complete{
    text-decoration: line-through;
}

/* .Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-weight: bold;
} */
.Icon-check{
    position: absolute;
    left: 12px;
}
.Icon-check:active{
    color: #4caf50;
}
.Icon-delete{
    position: absolute;
    top: -12px;
    right: 0;
}

.circle-button:active{
    transform: scale(0.9) translateY(2px);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.496);
}
.Icon-delete:hover{
    background-color: rgba(255, 0, 0, 0.829);
    color: white;
}
